body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
}

.section-1 {
    background-color: #1F2937;
    color: white;
    height: 300px;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 25px;
}

.header-logo {
    flex-grow: 1;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
}

.title {
    display: flex;
    padding: 25px;
    flex-direction: column;
    width: 30vw;
}

.text-title {
    font-size: 34px;
    font-weight: bold;
}

button {
    background-color: rgb(7, 155, 241);
    padding: 5px;
    color: white;
    width: 100px;
    border: 0px;
}

.item {
    width: 400px;
    height: 200px;
    background-color: gray;
}

.hero {
    display: flex;
    align-items: center;
    gap: 32px;
}

.section-2 {
    height: 350px;
    align-items: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.cards {
  display: flex;
  gap: 32px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box {
  width: 150px;
  height: 150px;
  border: 4px solid rgb(7, 155, 241);
  border-radius: 12px;
}

.section-3 {
    background-color: #E5E7EB;
    Color: #1F2937;
    Weight: 300;
    padding: 50px
}

.quote {
    text-align: center;
    font-style: italic;
    font-size: 36px;
}

.quote-author {
    text-align: end;
    font-weight: bold;
    color: black;
}